@import 'styles.scss';

.container {
    font-family: $font;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

  }
  
  .select {
    width: 280px;
    margin-bottom: 5px;
    &:focus{
        outline-color: $powergreen;
    }
  }
  
  .select option {
    padding: 10px;

  }
  
  .selected_tags {
    font-family: $font;
    padding: 5px 10px 5px 10px;
    margin: 0;
    margin-left: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: $grey-3;
    display: inline-block;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

  }

  .delete_tag{
    color: $grey-4;
    margin-left: 8px; 
  }

  .input-text{
    width: calc(100% - 10px);
  }

  .custom-select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    width: calc(100%);

    
  }
