@import 'styles.scss';

.studentsPage {
    font-family: $font;
    position: fixed;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    margin-left: 198px;

}

.students-data {
	position: absolute;
	border: 1px solid;
	border-color: $grey-3;
	border-bottom: none;
	border-right: none;
	background-color: $white;
	min-height: calc(784px);
	width: calc(100% - 248px);
	padding: 24px;
}

.return {
	text-decoration: none;
	color: $grey-black;
	font-weight: bold;
	margin-left: 30px;
	i {
		margin-right: 12px;
	}
}

.data-container {
	display: grid;
	grid-auto-flow: row dense;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1f 1fr 1fr 1fr 1fr;
	gap: 20px 30px;
	grid-template-areas: "a2 a2" "b2 c2" "d2 e2" "f2 g2" "h2 i2" "j2 k2";
	justify-items: start;
	width: 100%;
	height: 76px;
}

.a2 {
	grid-area: a2;
	width: 100%;
	.input-text {
		margin-bottom: 0;
		margin-right: 0;
		width: calc(100% - 30px);
		height: calc(40px - 24px);
	}
}

.b2 {
	grid-area: b2;
	width: 100%;
	position: relative;
	.input-text {
		margin: 0;
		margin-top: 12px;
		padding-bottom: 10px;
		height: 40px;
		width: 100%;
	}
	.dropdown-icon{
		position: absolute;
		top: 42px;
		right: 20px;
		color: $grey-6;
	}
	
}

.c2 {
	grid-area: c2;
	width: 100%;
	position: relative;
	.input-text {
		margin: 0;
		margin-top: 12px;
		padding-bottom: 10px;
		height: 40px;
		width: 100%;
	}
	.dropdown-icon{
		position: absolute;
		top: 42px;
		right: 20px;
		color: $grey-6;
	}
}

.d2 {
	grid-area: d2;
	width: 100%;
	.input-text {
		margin: 0;
		margin-top: 12px;
		padding-right: 0;
		padding-bottom: 10px;
		width: calc(100% - 12px);
		height: calc(40px - 24px);
	}
}

.e2 {
	grid-area: e2;
	width: 100%;
	.input-text {
		margin: 0;
		margin-top: 12px;
		padding-right: 0;
		padding-bottom: 10px;
		width: calc(100% - 12px);
		height: calc(40px - 24px);
	}
}

.f2 {
	grid-area: f2;
	width: 100%;
	position: relative;
	.input-text {
		margin: 0;
		margin-top: 12px;
		padding-bottom: 10px;
		height: 40px;
		width: 100%;
	}
	.dropdown-icon{
		position: absolute;
		top: 42px;
		right: 20px;
		color: $grey-6;
	}
}

.g2 {
	grid-area: g2;
	width: 100%;
	position: relative;
	.input-text {
		margin: 0;
		margin-top: 12px;
		padding-bottom: 10px;
		height: 40px;
		width: 100%;
	}
	.dropdown-icon{
		position: absolute;
		top: 42px;
		right: 20px;
		color: $grey-6;
	}
}

.h2 {
	grid-area: h2;
	width: 100%;
	.input-text {
		margin: 0;
		margin-top: 12px;
		padding-right: 0;
		padding-bottom: 10px;
		width: calc(100% - 12px);
		height: calc(40px - 24px);
	}
}

.i2 {
	grid-area: i2;
	position: relative;
	width: 100%;	
	.input-text {
		margin: 0;
		margin-top: 12px;
		padding-bottom: 10px;
		height: 40px;
		width: 100%;
	}
	.dropdown-icon{
		position: absolute;
		top: 42px;
		right: 20px;
		color: $grey-6;
	}
}

.j2{
	grid-area: j2;
	width: 100%;
}
.k2{
	grid-area: k2;
	width: 100%;
}
.student-info {
	position: relative;
	display: flex;
	width: 100%;
	z-index: 1;
	margin-bottom: 24px;
}

.student-name {
	display: block;
	position: static;
	font-style: normal;
	width: 100%;
	h1 {
		height: 28px;
		font-weight: 800;
		font-size: 24px;
		line-height: 28px;
		margin: 0;
		margin-top: 18px;
		margin-left: 24px;
		margin-bottom: 7px;
	}
}

.student-img {
	position: relative;
	width: 90px;
	height: 90px;
	border: 4px solid $grey-3;
	border-radius: 154px;
}

.student-subinfo{
	display: flex;
}
.student-ubication {
	display: flex;
	margin-left: 24px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	height: 16px;
	color: $grey-4;
	i{
		margin-right: 11px;
	}
	p {
		margin: 0;
	}
	span {
		font-size: 12px;
		margin-top: -1px;
		margin-right: 4px;
	}
}
.student-menu{
	display: flex;
	color: $grey-4;

}

.student-menu-element{
	min-width: 81px;
	margin-right: 30px;
	h1{
		font-style: normal;
		font-weight: bold;
		font-size: 14px;


	}
	.marcador{
		margin-top: 15px;
		margin-bottom: 30px;
		background: $powergreen;
		height: 4px;
		width: 81px;
		border-radius: 5px 5px 0px 0px
	}
	a{
		text-decoration: none;
		color: $grey-4;
	}
}

.st-active{
	color: $grey-black;
}

.student-remote{
	display: flex;
	margin-left: 24px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	height: 16px;
	color: $grey-4;
	i{
		margin-right: 11px;
	}
	p {
		margin: 0;
	}
	span {
		font-size: 12px;
		margin-top: -1px;
		margin-right: 4px;
	}
}
.upload{
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 12px;
}

.btn-delete {
	position: relative;
	cursor: pointer;
	background: white;
	border: none;
	color: $grey-black;
	border-radius: 8px;
	height: 40px;
	padding: 12px;
	padding-left: 32px;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	border: 1px solid $grey-3;
	box-sizing: border-box;
	border-radius: 8px;
	margin-left: 10px;
	i {
		position: absolute;
		left: 10px;
		top: 13px;
	}
}

.btn-upload{
	position: relative;
	cursor: pointer;
	background: #A5A8B3;
	border: none;
	color: white;
	border-radius: 8px;
	height: 40px;
	padding: 12px;
	padding-left: 32px;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
    i{
        position: absolute;
        left: 10px;
        top: 13px;
    }
}

.student-cv {
	position: relative;
	width: 100%;
}


.rute{
	display: flex;
	position: fixed;
	top: 72px;
	z-index: 5;
	width: 100%;
	height: 40px;
	border: none;
	align-items: center;
	a{
		text-decoration: none;
	}
	h1{
		cursor: pointer;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		color: rgba(7, 15, 48, 0.4);
		margin-left: 30px;
	}
	i{
		margin-left: 12px;
		margin-top: 2px;
		color: rgba(7, 15, 48, 0.4);
	}
	.active-route{
		margin-left: 12px;
		color: $grey-black;
	}
}

.candidate-status{
	position: absolute;
	top: 15px;
	right: 0;
	align-items: center;
	text-align: end;
	h1{
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		color: $grey-4;
		text-transform: uppercase;
		margin: 0;
	}
}

.students-data-double{
	position: relative;
	display: grid; 
	grid-auto-flow: row dense; 
	grid-auto-columns: 1fr; 
	grid-auto-rows: 1fr; 
	grid-template-columns: 57.84% 42.16%; 
	grid-template-areas: "big little";
	justify-items: start; 
	min-height: calc(784px);
	width: calc(100%);
	border-top: 1px solid;
	border-color: $grey-3;
}

.big{
	grid-area: big;
	width: calc(100% - 60px);
	padding: 24px;
	height: 100%;
}

.little{
	position: absolute;
	right: 0;
	grid-area: little;
	width: 100%;
	height: 100vh;
	background: $grey-1;
}

.status-main-right{
	text-align: right;
}