// COLORS
$white:#FFFFFF;
$grey-1:#F8F8F9;
$grey-2: #E5E5E5;
$grey-3:#E6E6EA;
$grey-4: #A5A8B3;
$grey-5:#8C909C;
$grey-6:#515561;

$powergreen: #32D4A4;

$green-black: #229673;

$grey-black: #121625;

$black:#10172E;


// FONTS
$font: 'Raleway', sans-serif;
