@import '../styles/styles.scss';

.tab-active{
    background: $white;
    color: $grey-black;
    border-bottom: 4px solid $powergreen;
}

.tabs{
    border-left: 1px solid;
    border-color: $grey-3;
    height: 100vh;
    ul{
        cursor: pointer;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid;
        border-color: $grey-3;
        a{
            text-decoration: none;
        }
    }
    li{
        display: flex;
        align-items: center;
        min-width: 148px;
        height: 60px;
        
        h2{
            text-align: center;
            color: $grey-4;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;   
            min-width: 148px;
            margin: 0;

        }     

    }
}

.num-processes{
    font-family: $font;
    margin-left: 8px;
    padding: 3px 5px 3px 5px;
    color: $powergreen;
    font-weight: bold;
    font-size: 14px;
    background: rgba(50, 212, 164, 0.15);
    border-radius: 4px;
}


.FirstTab{
    background: $white;
    padding: 20px;
    height: 100vh;
    .tags-main{
        position: relative;
        width: 555px;
        margin-bottom: 10px;
        i{
            position: absolute;
            top: 42px;
            right: 15px;
        }
        .input-text{
            width: calc(100% - 30px);
            height: 14px;
            margin-bottom: 5px;
        }
        
    }

}

.SecondTab{
    height: 100vh;
    .pdf {
        embed {
            background: #333639;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
            width: calc(100% - 198px);
            height: 100vh;
        }
    }
}

.ThirdTab{
    height: 100vh;
    width: 100vh;
    padding: 20px;
    background: $white;
    width: calc(100% - 240px);
    .btn-add{
        position: static;
    }
    .ofertas{
        display: flex;
        background: $grey-1;
        align-items: center;
        border-radius: 11px;
        margin: 0 auto;
        margin-top: 12px;
    
        h2{
            padding: 0;
            margin: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: $grey-black;
        }
        span{
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: $grey-4;
        }
        .ofertas-item{
            margin: 10px 15px;
        }
        .ofertas-title{
            min-width: 120px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .ofertas-subtitle{
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: $grey-4;
        }
        .status{
            color: $white;
        }
    }
}
