@import './styles.scss';

.usersPage{
    font-family: $font;
    position: fixed;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $grey-1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    margin-left: 198px;
    a{
        text-decoration: none;
        color: $grey-black;
    }
}

.usersHeader{
    display: flex;
    position: absolute;
    width: calc(100% - 130px);
    height: 70px;
    z-index: 2;
    background-color: $white;
    border-bottom: 1px solid;
    border-color: $grey-3;
    .title{
        padding: 0;
        margin: 0;
        margin-left: 40px;
    }
    .username{
        display: flex;
        position: absolute;
        margin: 0;
        right: 80px;
        top: 15px;
        width: 167px;
        height: 40px;
        border-radius: 91px;
        background-color: $white;
        align-items: center;      
        .dropDown{
            padding-top: 4px;
            color: $grey-4;
        }  
        &:hover{
            cursor: pointer;
            .dropdown-content {
                display: flex;
            }
        }
        .name{
            margin: 9px 15px 9px 15px;
            padding: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.005em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            a{
                text-decoration: none;
                color: $grey-black;
            }
            
        }
        
        .user-icon{
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background-color: $grey-black;
            align-items: center;
            text-align: center;
            margin: 0;
            padding: 0;
            color: $grey-6;
            font-style: normal;
            font-weight: bold;

            h1{
                margin: 0;
                font-size: 15px;
                padding: 10px;
            }
        }
    }
}
.dropdown-content{
    display: none;
    color: $rejected;
    position: absolute;
    text-align: right;
    top: 40px;
    right: 30px;
    width: 70px;
    background-color: $grey-1;
    border: 1px solid $grey-2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 7px;
    margin: 0;
    z-index: 1;
    p{
        margin: 0;
        margin-right:10px;
    }
    &:hover{
        background-color: $grey-2;
        cursor: pointer;
    }
}

.usersPanel{
    display: flex;
    position: absolute;
    padding-top: 110px;
    background-color: $white;
    width: 100% ;

    .students{
        display: flex;
        margin: 0 ;
        margin-left: 20px;
        margin-bottom: 20px;

    }
    h2{
        position: static;
        left: 0px;
        top: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $grey-black;
        margin-right: 24x;
        margin: 10px 24px 10px 10px;
    }
    .search-bar{
        display: flex;
        position: relative;
        width: 343px;
        height: 40px;
        background-color: $grey-3;
        color: $grey-5;
        border-radius: 8px;
        align-items: center;
        margin: 0 auto;
        input{
            border: none;
            background: none;
            width: 95%;
            margin-right: 15px;
            outline: none;
            color: $grey-5;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
        }
    }
}
.search-icon{
    width: 16px;
    color: $grey-6;
    margin:0 17px;
}

.global-search{
    margin-top: 25px;
    margin-left: 25px;
    input{
        width: 600px;
        border: none;
        background: none;
        outline: none;
    }
}

.btn-add{
    position: fixed;
    cursor: pointer;
    height: 40px;
    right: 360px;
    padding: 5px 14px 5px 10px;
    border: 1px solid;
    border-color: $grey-3;
    border-radius: 8px;
    background: $white;
    color: $grey-black;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    position: absolute;
    border: 1px solid;
    border-top: none;
    border-color: $grey-3;
    margin-top: 54px;
    background-color: $white;
    width: 100%;    
    i{
        padding-left: 10px;
    }
    table{
        border-collapse: collapse;
    }
    th{
        cursor: pointer;
        align-items: center;
        text-align: left;
        text-transform: uppercase;
        color: #a5a8b3;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
        height: 100%;
        padding: 13.5px 20px 13.5px 24px;
        min-width: 158px;
    }
    .th-name{
        min-width: 220px; 
    }
    .th-place{
        min-width: 100px;
    }
    tr{
        align-items: center;
        td{
            padding: 15px 24px 15px 24px;
            border-top: 1px solid $grey-3;
            white-space: nowrap;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: $grey-black;
        }
    }
    .phone{
        cursor: default;
    }
    .names{
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }
    .tags{
        width: 100%;
    }
  
    .end-table{
        width: 100%;
    }

    .end-table-status{
        cursor: default;
        text-align: center;
    }
    .table-tag{
        position: static;
        padding: 4px 8px;
        height: 22px;
        top: 0px;
        background: #32D5A4;
        border-radius: 6px;
        flex-grow: 0;
        margin: 0px;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: white;
        margin-right: 6px;
        
    }
}
.btn-page{
    cursor: pointer;
    height: 40px;
    padding: 5px 14px 5px 10px;
    margin-right:5px;
    margin-left: 5px;
    border: 1px solid;
    border-color: $grey-3;
    border-radius: 8px;
    background: $white;
    color: $grey-black;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;  
}
.previusPage{
    position: absolute;
    display: flex;
    top: 700px;
    left:0;
    p{
        margin: 12px;
    }
}
.nextPage{
    position: absolute;
    display: flex;
    top: 700px;
    left:0;
    p{
        margin: 12px;
    }
}

    
.search-filter{
    position: absolute;
    width: 330px;
    right: 195px;
    margin: 70px 0 143px 0;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid;
    border-color: $grey-3;
    background: $white;

    h1{
        margin: 28px 0 28px 24px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        font-feature-settings: 'pnum' on, 'lnum' on;
       
    }
    .clearfilter{

            border: none;
            background: none;
            position: absolute;
            right: 26px;
            color: $powergreen;
            cursor: pointer;
            font-size: 18px;

    }
    .campos{
        margin:24px;
        .input-text{

            margin-bottom: 10px;
            padding: 0;
            padding-left: 10px;

            height: 40px;
        }
        .tags-main{
            position: relative;
            .remember-label{
                width: 100%;
                text-align: left;
                margin: 15px 0;
            }
        }
        .tags{
            position: absolute;
            top:42px;
            right: 20px;
            color: $grey-6;
        }


    }
    .country{
        height: 40px;
        width: 100%;
        color: $grey-black;
        
        select{
            margin: 0;
        }
        
    }
}




@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}

